/*------PARAGRAPH------*/
.container li p {
  color: transparent;
  background: transparent;
  font: 30/15px 'Arvo', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  
  position: relative;
  top: 100;
  left: 0;
  width: 400px;
  height: 250px; 
}

.container li:hover p {
  color: grey;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

/*------IMAGES------*/
.container img {
  width: 400px;
  height: 250px;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;

}

.container li:hover img {
  -webkit-transform: scale(-1, 1);
  z-index: -3;
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
}