h2 {
	font-family: Helvetica;
}
h4 {
	color: #1a0dab;
	font-family: Verdana;
}

p {
	color: orange;
}

li {
	color: green;
}

img{
	max-width:100%;
}

input[type=text]{
	width:130px;
	box-sizing:border-box;
	border:2px solid #ccc;
	border-radius:4px;
	font-size:16px;
	background-color:white;
	background-image:url('./searchicon.png');
	background-position:10px 10px;
	background-repeat: no-repeat;
	padding:12px 20px 12px 40px;
	-webkit-transition:width 0.4s ease-in-out;
	transition:width 0.4s ease-in-out;
}

input[type=text]:focus{
	width:100%;
}

ul {
	list-style: none;
}
/* img:nth-child(3){
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
} */

footer {
	background-color: #182642;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
